:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: 	#222224;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ee1515;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

li {
  display: inline;
  padding: 10px;

}



.floatingButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70%;
  color: #ffffff;
  background-color: rgb(88, 82, 76);
  border-radius: 500px;
  width: 4rem;
  height:4rem;
  position:fixed;
  top:2rem;
  right: 2rem;
}

.pokemonKartaJmeno{
  position: relative;
  font-size: 100px;
  left: -30rem;
}

.pokemonSprite{
  position: absolute;
  width: 115px;
  height: 115px;
  z-index: 2;
  transform: translate(110px, 80px);
  
}

.pokemonKarty{
  margin: 40px;
  width: 245px;
  height: 342px;
  z-index: 1;
  border: 10px solid;
  border-color: #535bf2;
}

.karty{
  display: block;
  margin: 20px;
  padding: 20px;
  width: 245px;
  height: 342px;
}

.pokemonKarty2{
  position: relative;
  width: 245px;
  height: 342px;
  margin: 40px;
  z-index: 1;
  border-radius: 20px;
  border: 5px solid transparent;
}

.pokemonKarty2:hover{
  border-color: #ee1515;
}

.pokemonName{
  color: #1a1a1a;
  position: absolute;
  
  transform: translate(95px, 36px);
  z-index: 2;
}

.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}


